{% extends 'base.html' %}

{% block title %} My Home App {% endblock %}

{% block content %}
<h2>My Home App</h2>
<div class="jumbotron">
    <h1>Welcome to My Home App</h1>
    <p class="lead">App to control your home activities. This app will be available from July/20</p>
</div>
      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Inventory</h4>
          <p>Make your inventory.</p>

          <h4>Super Market List</h4>
          <p>Generate your super market list automatically.</p>

          <h4>Price Control</h4>
          <p>Control your inventory pricing. Available From August/20</p>

          <h4>Expense</h4>
          <p>Control your expense. Available From August/20</p>
        </div>

        <div class="col-lg-6">
          <h4>Finances</h4>
          <p>Control your finances easily. Available From November/20</p>

          <h4>Scan Supermarket Bill</h4>
          <p>Take a photo and update your inventory automatically. Available From November/20</p>

          <h4>Mobile App</h4>
          <p>Use this app anywhere. Available From January/21</p>


        </div>
      </div>
{% endblock %}